html {
    height: 100%;
    width: 100%;
  }
  
  .connect{
    border-style: solid;
    color: white;
    border-color: greenyellow;
    border-width:2px;
    text-align: center;
  }
  .border{
    border-style: solid;
    color: white;
    border-color:orange;
    border-width: 2px;
    text-align: left
    }
  
  body {
    background: color(942626);
  }
  img {
  float: right;
  height:100px;
  margin: 5px;
  border-width:4px;
  border-color:gold;
  border-radius: 10px;
  }
  
  .back{
  float: left;
  height:100px;
  margin: 5px;
  border-width:4px;
  border-color:gold;
  border-radius: 10px;
  }
  .connect2 {
    float: left;
  height:100px;
  margin: 5px;
  border-width:4px;
  border-color:gold;
  border-radius: 10px;
  }
  
